# Entornos y caché
.venv/
venv/
__pycache__/
*.pyc

# PyInstaller
build/
dist/
*.spec

# Instalador / ejecutables generados
*.exe

# Logs temporales
*.log

# Archivos de diseño
*.psd
assets/edicion/

# Variables de entorno
.env

#capturas del programa
capturas/

*.png
*.jpg
*.jpeg